@font-face {
    font-family: 'Planet N Compact';
    src: url('PlanetNCompact.woff2') format('woff2'),
        url('PlanetNCompact.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N 3D';
    src: url('PlanetN3D.woff2') format('woff2'),
        url('PlanetN3D.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N 3D';
    src: url('PlanetN3DItalic.woff2') format('woff2'),
        url('PlanetN3DItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N';
    src: url('PlanetN.woff2') format('woff2'),
        url('PlanetN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N Shadow';
    src: url('PlanetNShadow.woff2') format('woff2'),
        url('PlanetNShadow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N Compact 3D';
    src: url('PlanetNCompact3D.woff2') format('woff2'),
        url('PlanetNCompact3D.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N Expanded';
    src: url('PlanetNExpanded.woff2') format('woff2'),
        url('PlanetNExpanded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N Condensed';
    src: url('PlanetNCondensed.woff2') format('woff2'),
        url('PlanetNCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N';
    src: url('PlanetNItalic.woff2') format('woff2'),
        url('PlanetNItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N Compact';
    src: url('PlanetNCompactItalic.woff2') format('woff2'),
        url('PlanetNCompactItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N Compact Condensed';
    src: url('PlanetNCompactCondensedItalic.woff2') format('woff2'),
        url('PlanetNCompactCondensedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N Condensed';
    src: url('PlanetNCondensedItalic.woff2') format('woff2'),
        url('PlanetNCondensedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N Compact 3D';
    src: url('PlanetNCompact3DItalic.woff2') format('woff2'),
        url('PlanetNCompact3DItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N Compact Condensed';
    src: url('PlanetNCompactCondensed.woff2') format('woff2'),
        url('PlanetNCompactCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N Expanded';
    src: url('PlanetNExpandedItalic.woff2') format('woff2'),
        url('PlanetNExpandedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N Compact Expanded';
    src: url('PlanetNCompactExpandedItalic.woff2') format('woff2'),
        url('PlanetNCompactExpandedItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Planet N Compact Expanded';
    src: url('PlanetNCompactExpanded.woff2') format('woff2'),
        url('PlanetNCompactExpanded.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}